PROJECT_NAME=
ENVIRONMENT=development

# CORS (separar por vírgula para múltiplas origens)
ALLOWED_ORIGINS=["http://localhost:3000","http://localhost:8000"]

# AWS Credentials
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
S3_BUCKET_IMAGES=satellite-images
DYNAMODB_TABLE_IOT=iot

# Database (PostgreSQL)
DATABASE_URL=postgresql://user:password@localhost:5432/db

# ML / CV
YOLO_MODEL_PATH=models/yolov8_fire.pt
FIRMS_API_KEY=your_nasa_firms_api_key
